.testimonials-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    width: min(95%, 70rem);
    margin-inline: auto;
    border-radius: 0.5rem;

    & .testimonial {
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--shadow-l);
        
        & .testimonial-content {
            
            &>:first-child img {
                width: 2.5rem;
                border-radius: 50%;
                border: 2px solid var(--color-secondary-400);
            }
            &>:nth-child(2) {
                display: flex;
                flex-flow: column wrap;
                gap: 0.225rem;
                & h2 {
                    color: var(--white);
                    opacity: .8;

                }
                & p {
                    color: var(--white);
                    opacity: .5;
                }
            }
        }

        & > p:first-of-type {
            font-family: var(--ff-main);
            font-weight: 700;
            font-size: clamp(1.25rem, 2vw, 1.5rem);
            line-height: 1.2;
            margin-top: .8rem;
            color: var(--white);
            opacity: .9;
        }

        & > p:last-of-type {
            font-family: var(--ff-main);
            font-weight: var(--fw-500);
            line-height: 1.3;
            color: var(--grey-200);
            opacity: .9;
            margin-top: 1rem;
            
        }
    }

}