.testimonials-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    width: min(95%, 70rem);
    margin-inline: auto;
    border-radius: 0.5rem;

    & .testimonial {
        padding: 2rem;
        border-radius: 0.5rem;
        
        & .testimonial-content {
            
            &>:first-child img {
                border-radius: 50%;
                border: 2px solid var(--color-secondary-400);
            }
            &>:nth-child(2) {
    
                & h2 {
                    color: var(--color-secondary-400);
                }
            }
        }
    }
}