*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    display: grid;
    background-color: var(--neutral-100);
    place-content: center;
    min-height: 100vh;

    text-rendering: optimizeSpeed;
    
}

:root {
    --color-primary-500: hsl(263, 55%, 52%);
    --color-secondary-400: hsl(264, 82%, 80%);
    --color-tertiary-50: hsl(260, 100%, 95%);

    --white: hsl(0, 0%, 100%);

    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);

    --darkblue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);


    --ff-main: 'Barlow Semi Condensed', sans-serif;
    --fw-500: 500;
    --fw-600: 600;

    --fs-primary: clamp(2rem, 1.5vw, 2.5rem);
    --fs-secondary: clamp(0.999rem, 0.8vw, 0.978rem);
    --fs-tertiary: clamp(0.8125rem, 0.7vw, 0.925rem);

    --shadow-l: inset
    0 1px 2px hsla(0, 0%, 100%, 0.699), 
    0 4px 6px hsla(0, 0%, 7%, 0.308),
    0 6px 10px hsla(0, 0%, 7%, 0.164);

}
