*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;

    text-rendering: optimizeSpeed;
    
}

:root {
    --color-primary-500: hsl(263, 55%, 52%);
    --color-secondary-400: hsl(264, 82%, 80%);
    --color-tertiary-50: hsl(260, 100%, 95%);

    --neutral-100: hsl(214, 17%, 92%);
    --neutral-200: hsl(0, 0%, 81%);
    --neutral-400: hsl(224, 10%, 45%);
    --neutral-500: hsl(217, 19%, 35%);

    --darkblue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);


    --ff-main: 'Barlow Semi Condensed', sans-serif;
    --fw-500: 500;
    --fw-600: 600;

    --fs-primary: clamp(1rem, 1vw, 1.25rem);

}