.bg-clr-clifford {
    background: var(--color-primary-500);
}

.bg-clr-walters {
    background: var(--grey-500);
}

.bg-clr-harmon {
    background: var(--white);
}

.bg-clr-abrams {
    background: var(--darkblue);
}

.bg-clr-whittle {
    background: var(--white);
}
.quote {
    background-image: url(../assets/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.flex {
    display: flex;
}

.grid-cols-2 {
    grid-column: span 2;
}

.gap-1 {
    gap: 1rem;
}

.name {
    font: var(--fw-600) var(--fs-secondary)/1.2 var(--ff-main);
}

.graduate {
    font: var(--fw-600) var(--fs-tertiary)/1.2 var(--ff-main);
} 