body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--blue-700);
    font-family: var(--ff-main);

    @media (min-width: 48rem) {
        flex-direction: row;
        justify-content: center;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    
    margin-inline: auto;
    

    @media (min-width: 34.313rem) and (max-width: 47.938rem) {
        margin-block-start: 8rem;

        transition: all 0.4s ease-in-out;
    }
    
    @media (min-width: 48rem) {
        flex-direction: row;
        place-content: center;
        padding-inline: 2rem;
        
    }

}


.card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: var(--shdw-card);

    
    @media (min-width: 34.313rem) and (max-width: 47.938rem) {
        border-radius: 1.5rem 1.5rem 2rem 2rem;
    }

    @media (min-width: 48rem) {
        border-radius: 2rem;
    }

    @media (min-width: 64rem) {
        flex-direction: row-reverse;
    }
    
}

.hero-img-wraper {
    max-width: 100%;
    overflow: hidden;
    
    

    @media (min-width: 48rem) {
        padding: 1.5rem;
    }

    
        
    & .hero-img {
        width: 100%;
        object-fit: cover;

        @media (min-width: 34.313rem) and (max-width: 47.938rem) {
            border-radius: 1.5rem 1.5rem 0 0;
        }

    }
    
}

.form-container {
    padding: 2rem;

    @media (min-width: 64rem) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 3.5rem;
    }
}

.form-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .form-bullets {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        & li {
            display: flex;
            gap: 1rem;
            align-items: start;
            list-style-type: none;
        }
    }

    & .form-title {
        font-size: 2.5rem;
        font-weight: var(--fw-bold);
        color: var(--blue-800);

        @media (min-width: 64rem) {
            font-size: 3.5rem;
        }
    }

    & .form-call {
        color: var(--blue-800);
        font-weight: var(--fw-base);
    }
}

.--form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2rem;
}

.--form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .input-box {
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        & label {
            font-weight: var(--fw-bold);
            font-size: .838rem;
        }

        & .alert-msg {
            color: var(--prim-red);
            font-size: .838rem;
        }
        
    }

    & .email-input {
        outline: none;
        width: 100%;
        padding: 1rem;
        border: 1px solid var(--gray);
        border-radius: .7rem;
        opacity: .8;

        &::placeholder {
            color: var(--gray);
        }

        &:focus {
            box-shadow: 0 4px 20px -10px hsla(0, 0%, 10%, 0.5);
        }
        
    }

    & #btn-submit {
        display: inline-block;
        outline: none;
        border: none;
        background-color: var(--blue-800);
        color: var(--white);
        padding: 1rem;
        font-weight: var(--fw-bold);
        border-radius: .7rem;
        cursor: pointer;

        transition: all 0.2s ease;

        &:hover {
            background-image: var(--grad-red);
            padding: 1rem;
            border: none;
            box-shadow: var(--shdw-btn);
        }

        &:active, &:focus {
            background-image: var(--grad-red);
            padding: 1rem;
            border: none;
        }
    }
}