body {
    display: flex;
    min-height: 100dvh;
    background-color: var(--blue-700);
    font-family: var(--ff-main);

    @media (min-width: 48rem) {
        flex-direction: row;
        justify-content: center;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    @media (min-width: 48rem) {
        flex-direction: row;
        place-content: center;
        
    }

}

li {
    list-style-type: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);

    

    @media (min-width: 48rem) {
        flex-direction: row-reverse;
        border-radius: 2rem;

    }
    
}

.hero-img-wraper {
    max-width: 100%;

    @media (min-width: 48rem) {
        padding: 1.5rem;
    }
}

.form-container {
    padding: 2rem;
}

.form-text {
    

    & .form-title {
        font-size: 2.5rem;
        font-weight: var(--fw-bold);
        color: var(--blue-800);
    }
}