.content-wrapper {
    display: flex;
    margin-inline: auto;
    align-items: center;
    

    & .card-box {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 0.5rem;
        flex: 0 1 auto;
        
        width: 100%;
        min-width: 24rem;
        max-height: 33.125rem;
        background-color: var(--lightdark-bg-color);
        box-shadow: var(--shadow-lg);
        border-radius: 20px;
        

        
        padding-block: 2rem;
        padding-inline: 2rem;

        & .user-profile-box {
            display: flex;

            width: 180px;
            height: 180px;
            border-radius: 50%;
            
            overflow: hidden;
            box-shadow: inset
            0 1px 2px #ffffff50,
            0 2px 4px #00000030,
            0 4px 8px #00000015;

            

            & img {
                margin: auto;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                object-fit: cover;

                transition: transform 0.2s ease-in-out;
                
                &:hover {
                    transform: scale(1.1);
                    
                }
            }
        }

        & .profile-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            text-align: center;
            margin-top: 1rem;
            box-shadow: var(--shadow-m);
            border-radius: 0.5rem;
            padding: 0.75rem;
            min-height: 150px;
            

            & h1 {
                font-size: clamp(1.5rem, 1.5vw, 1.75rem);
                font-weight: 700;
                filter: drop-shadow(1px 2px 2px #111111d7);
            }

            & span {
                color: bisque;
                font-size: clamp(1.125rem, 1vw, 1.325rem);
                font-weight: 600;
            }

            & p {
                color: #ffffffb0;
                text-shadow: 0 1px 2px #111111ad;
                font-size: clamp(0.875rem, 0.75vw, 1rem);
                font-weight: 400;
                margin-top: 0.875rem;
            }
        }

        & .social-links-box {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            gap: 1.5rem;
            box-shadow: var(--shadow-m);
            border-radius: 1rem;
            padding: 12px;

            & a.social {
                --bg-img: "";
                background-image: var(--bg-img);
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                width: 2rem;
                height: 2rem;

                -webkit-background-clip: initial;
                background-clip: initial;

                transition: background-image 0.2s, filter 0.2s ease-in-out;

                &[aria-label="github"] {
                    --bg-img: url(../assets/github-nopadding.svg);


                    &:hover {
                        --bg-img: url(../assets/SVGRepo_iconCarrier.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 2rem;
                        height: 2rem;
                        filter: drop-shadow(2px 8px 6px #111111);
                    }
                }

                &[aria-label="frontend-mentor"] {
                    --bg-img: url(../assets/frontendmentor-svgrepo.svg);

                    &:hover {
                        --bg-img: url(../assets/orange-github.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 2rem;
                        height: 2rem;
                        filter: drop-shadow(2px 8px 6px #111111);
                    }
                }

                &[aria-label="linkedin"] {
                    --bg-img: url(../assets/linkedin-base1.svg);

                    &:hover {
                        --bg-img: url(../assets/linkedin-icon-hover.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 2rem;
                        height: 2rem;
                        filter: drop-shadow(2px 8px 6px #111111);
                    }
                }

                &[aria-label="instagram"] {
                    --bg-img: url(../assets/insta-base-1.svg);

                    &:hover {
                        --bg-img: url(../assets/insta-hover-01.svg);
                        width: 2rem;
                        height: 2rem;
                        filter: drop-shadow(2px 8px 6px #111111);
                    }
                }

                &[aria-label="twitter"] {
                    --bg-img: url(../assets/x-icon-base.svg);

                    &:hover {
                        --bg-img: url(../assets/x-hover.svg);
                        width: 2rem;
                        height: 2rem;
                        filter: drop-shadow(2px 8px 6px #111111);
                    }
                }
            }
        }
    }
}