
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    grid-template-areas: 
    "article01 article01 article03 article05"
    "article02 article04 article04 article05";


}

.box-article-01 {
    background-color: var(--purple-500);
    grid-area: article01;
    padding: 2rem;
    box-shadow: var(--shadow-lg);
    position: relative;
    z-index: 1;
}
.article-content {
    display: flex;
    gap: 1.5rem;

    & .profile-photo-box {
        width: 56px;
        height: 56px;

        border-radius: 50%;
        border: 3px solid var(--purple-300);
        box-shadow: var(--shadow-s);
        overflow: hidden;

        & img {
            display: block;
            object-fit: cover;
            width: 100%;
            z-index: 2;
        }
    }

    & .profile-info {
        display: flex;
        flex-flow: column wrap;
        

        & h4 {
            font: var(--ff-secondary);
            color: var(--grey-100);
        }

        & span {
            font: var(--ff-tertiary);
            color: var(--grey-200);
        }
    }

    & .quote-box {
        position: absolute;
        top: 0;
        right: 85px;

        & img {
            display: block;
            height: 140px;
        }
    }
}

.article-notes {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    z-index: 1;
    

    & h1 {
        font: var(--ff-main);
        color: var(--white);
        z-index: 1;
        margin-top: 1rem;
    }

    & p {
        font: var(--ff-secondary);
        color: var(--grey-200);
    }
}

/* --------------- article-02 --------------- */

.box-article-02 {
    background-color: var(--white);
    grid-area: article02;
    box-shadow: var(--shadow-s);

    & .profile-photo-box {
        border: none;
        box-shadow: var(--shadow-s);
    }

    & .profile-info {

        & .jeanette {
            font: var(--ff-secondary);
            color: var(--grey-400);
        }
        & .jeanette-grad {
            font: var(--ff-tertiary);
            color: var(--grey-400);
        }
    }
}

.article-notes-jeanette {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

    & h1 {
        font: var(--ff-main);
        color: var(--grey-500);
        margin-top: 1rem;
        
    }
    & p {
        font: var(--ff-secondary);
        color: var(--grey-400);
    }
}
