* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--grey-100);
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 90rem;
    min-height: 100dvh;
    margin-inline: auto;
}

:root {
    --ff-main: 600 clamp(1.5rem, 2vw, 1.62rem)/140% 'Barlow Semi Condensed', sans-serif;
    --ff-secondary: 500 clamp(1rem, 1.5vw, 1.125rem)/140% 'Barlow Semi Condensed', sans-serif;
    --ff-tertiary: 500 clamp(0.875rem, 1vw, 0.938rem)/140% 'Barlow Semi Condensed', sans-serif;

    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    --white: hsl(0, 0%, 100%);

    --shadow-s: inset 
    0 1px 2px #ffffff30,
    0 1px 2px #00000030,
    0 2px 4px #00000015;
    
    --shadow-m: inset
    0 1px 2px #ffffff70,
    0 2px 4px #00000035,
    0 4px 6px #00000015;

    --shadow-lg: inset
    0 4px 8px #ffffff50, 
    0 12px 32px #00000030,
    0 22px 38px #00000015;
}

.border-12 {
    border-radius: 0.75rem;
}

.padding-2r {
    padding: 2rem;
}



h4, span {
    color: var(--grey-100);
}