* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 90rem;
    min-height: 100dvh;
    margin-inline: auto;
}

:root {
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    --white: hsl(0, 0%, 100%);

    --shadow-m: inset
    0 1px 2px #ffffff50, 
    0 2px 4px #00000030,
    0 4px 8px #00000015;
}

h4, span {
    color: var(--grey-100);
}