/* Global Reset */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
*:not(dialog) {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
} 

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf) format(truetype);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Bold.ttf) format(truetype);
    font-weight: 700;
    font-display: swap;
}

:root {
    /* Colors */
    --prim-red: hsl(4, 100%, 67%);
    --sec-red: hsl(6, 72%, 94%);
    --grad-red: linear-gradient( 
        45deg,
        hsl(15, 100%, 61%),
        hsl(346, 100%, 66%)
    );
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%,58%);

    /* Typography */
    --ff-main: 'Roboto', sans-serif;

    --fw-base: 400;
    --fw-bold: 700;

    --fs-base: 1rem;
}

.hidden {
  display: none;
  visibility: hidden;
}