body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: var(--ff-main);
    background-color: var(--blue-700);
    
    @media (min-width: 48rem) {
        justify-content: center;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    @media (min-width: 48rem) {
        place-content: center;
        
    }

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    & li {
        display: flex;
        gap: 1rem;
        align-items: start;
    }
}

.card-container {
    display: flex;
    flex-flow: column-reverse wrap;
    

    background-color: var(--white);
    
    @media (min-width: 48rem) {
        border-radius: 2rem;
        padding: 1.5rem;
        flex-flow: row wrap;

    }

}

.--img-box {
    max-width: 100%;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .form-text {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        padding-inline: 1.5rem;
        margin-block-start: 2rem;


        & .form-title {
            font-size: 2.5rem;
            color: var(--blue-800);
            font-weight: var(--fw-bold);
        }

        & .form-call {
            font-size: var(--fs-base);
            font-weight: var(--fw-base);
            color: var(--blue-800);
        }
    }
}
