body {
    display: grid;
    place-content: center;
    
    max-width: 90rem;
    min-height: 100dvh;
    margin-inline: auto;
    
    background-color: var(--light-grayish-blue);
    font-family: var(--ff-main);
    
    @media (min-width: 20rem) and (max-width: 45.625rem) {
        padding-inline: 1.5rem;
    }
}

.card-wraper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--white);
    
    max-width: 45.625rem;
    border-radius: 0.625rem;
    box-shadow: var(--shadow-md);
    position: relative;

    @media (width > 45.625rem) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    & .hero-img {
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
        height: auto;
        align-self: stretch;
        justify-self: stretch;
        object-fit: cover;
        
        

        @media (width > 45.625rem) {
            width: 17.8125rem;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.625rem;
            object-position: left;
        }
    }
}

.article-content {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 2rem;

    & .article-title {
        font-size: clamp(var(--fs-md), 2vw + 0.5rem, var(--fs-xl));
        color: var(--dark-gray-blue);
        font-weight: var(--fw-bold);
        line-height: 140%;

        @media (min-width: 31.938rem) and (max-width: 43.25rem) {
            font-size: var(--fs-xl);;
        }
    }

    & .article-description {
        font-size: var(--fs-sm);
        color: var(--desaturated-dark-blue);
        font-weight: var(--fw-base);
        line-height: 140%;
    }
}

.author-description {
    display: flex;
    padding: 2rem;
    gap: 1rem;

    & .author-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        
    }

    & .author-name {
        font-weight: var(--fw-bold);
        color: var(--dark-gray-blue);
        font-size: var(--fs-sm);
        font-style: normal;
    }

    & .published-when {
        font-weight: var(--fw-base);
        color: var(--desaturated-dark-blue);
        font-size: var(--fs-sm);
    }
}

.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    color: var(--desaturated-dark-blue);
    margin-left: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    
    
    &:focus {
        background-color: var(--light-grayish-blue);
        color: var(--dark-gray-blue);

    }

    &:hover {
        background-color: var(--dark-gray-blue);
        color: var(--light-grayish-blue);
    }
    
}

.share-popup {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 2rem;

    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0px;
    background-color: var(--dark-gray-blue);

    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;

    & span {
        font-size: var(--fs-sm);
        font-weight: var(--fw-base);
        color: var(--grayish-blue);
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    & .social-links {
        display: flex;
        gap: 1rem;

        & img {
            width: 1.25rem;
            height: 1.063rem;
        }
    }

}

