body {
    display: grid;
    place-content: center;
    
    max-width: 90rem;
    min-height: 100dvh;
    margin-inline: auto;
    
    background-color: var(--light-grayish-blue);
    font-family: var(--ff-main);
    
    @media (min-width: 20rem) and (max-width: 45.625rem) {
        padding-inline: 1.5rem;
    }
}

.card-wraper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--white);
    
    max-width: 45.625rem;
    border-radius: 0.625rem;
    box-shadow: var(--shadow-md);
    position: relative;

    @media (width > 45.625rem) {
        display: flex;
    }

    & .hero-img {
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
        width: 100%;
        height: auto;
        
        object-fit: cover;
         

        @media (width > 45.625rem) {
            width: 17.8125rem;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.625rem;
            object-position: left;
            align-self: stretch;
            justify-self: stretch;
        }
    }
}

.article-content {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    padding-inline: 2rem;
    padding-block-end: 0.8rem;
    padding-block-start: 1.5rem;

    & .article-title {
        font-size: clamp(var(--fs-md), 2vw + 0.5rem, var(--fs-xl));
        color: var(--dark-gray-blue);
        font-weight: var(--fw-bold);
        line-height: 140%;

        @media (min-width: 31.938rem) and (max-width: 43.25rem) {
            font-size: var(--fs-xl);;
        }
    }

    & .article-description {
        font-size: var(--fs-sm);
        color: var(--desaturated-dark-blue);
        font-weight: var(--fw-base);
        line-height: 140%;
        margin-bottom: 0.8rem;
    }
}

.author-description {
    display: flex;
    gap: 2rem;

    & .author-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        
    }

    & .author-name {
        font-weight: var(--fw-bold);
        color: var(--dark-gray-blue);
        font-size: var(--fs-sm);
        font-style: normal;
    }

    & .published-when {
        font-weight: var(--fw-base);
        color: var(--desaturated-dark-blue);
        font-size: var(--fs-sm);
    }
}

.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    color: var(--desaturated-dark-blue);
    margin-left: auto;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    
    
    &:focus {
        background-color: var(--light-grayish-blue);
        color: var(--dark-gray-blue);

    }

    &:hover {
        background-color: var(--dark-gray-blue);
        color: var(--light-grayish-blue);
    }
    
}

.share-popup {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 2rem;

    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    background-color: var(--dark-gray-blue);

    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;

    transition: all 0.3s ease-in-out;

    @media (width > 45.625rem) {
        width: 250px;
        height: 60px;
        top: 140px;
        right: -70px;
        border-radius: 0.625rem;

        box-shadow: var(--shadow-md);
        filter: drop-shadow(1px 1px 8px hsla(0, 0%, 45%, 0.444) );

        &::after {
            content: '';
            color: red;
            position: absolute;
            left: 115px;
            bottom: -20px;
            width: 34px;
            height: 24px;
            background: inherit;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
    }

    & span {
        font-size: var(--fs-sm);
        font-weight: var(--fw-base);
        color: var(--grayish-blue);
        letter-spacing: 5px;
        text-transform: uppercase;

        @media (width > 45.625rem) {
            font-size: var(--fs-sm);
        }
    }

    & .social-links {
        display: flex;
        gap: 1rem;
        width: 100%;

        @media (min-width: 28.125rem) and (max-width: 45.563rem) {
            gap: 3rem;

            transition: all 0.3s ease-in-out;

            & a img {
                width: 1.4rem;
                height: 1.3rem;
            }
        }

        & img {
            width: 1.25rem;
            height: 1.063rem;

            @media (width > 45.625rem) {
                width: 1.4rem;
                height: 1.3rem;
            }

            
        }
    }

}

