body {
    display: grid;
    place-content: center;
    
    max-width: 90rem;
    min-height: 100dvh;
    margin-inline: auto;
    
    background-color: var(--light-grayish-blue);
    font-family: var(--ff-main);
    
    @media (min-width: 20rem) and (max-width: 45.625rem) {
        padding-inline: 1.5rem;
    }
}

.card-wraper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--white);
    
    max-width: 45.625rem;
    border-radius: 0.625rem;
    box-shadow: var(--shadow-md);

    @media (width > 45.625rem) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    & .hero-img {
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
        height: auto;
        align-self: stretch;
        justify-self: stretch;
        object-fit: cover;
        
        

        @media (width > 45.625rem) {
            width: 17.8125rem;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.625rem;
            object-position: left;
        }
    }
}

.article-content {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 2rem;

    & .article-title {
        font-size: clamp(var(--fs-md), 2vw + 0.5rem, var(--fs-xl));
        color: var(--dark-gray-blue);
        font-weight: var(--fw-bold);
        line-height: 140%;

        @media (min-width: 31.938rem) and (max-width: 43.25rem) {
            font-size: var(--fs-xl);;
        }
    }

    & .article-description {
        font-size: var(--fs-sm);
        color: var(--desaturated-dark-blue);
        font-weight: var(--fw-base);
        line-height: 140%;
    }
}

