* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    min-height: 100dvh;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --darkgrey: hsl(234, 12%, 34%);
    --lightgrey: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);

    --font-main: 'Poppins', sans-serif;

    --shadow-lg: inset
     0 4px 2px #ffffff70,
     0 8px 6px #00000015,
     0 10px 10px #00000008;
}

.container {
    max-width: 90rem;
    margin-inline: auto;
}

.card {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-lg);
    padding: 1.5rem;
}