* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    min-height: 100vh;
    padding-block: 5rem;
    padding-inline: 2rem;

    @media (min-width: 324px) and (max-width: 480px) {
        padding-block: 2rem;
        padding-inline: 1rem;
    }

    @media (max-width: 323px) {
        padding-inline: 0.2rem;
        padding-block: 1rem;
    }
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --darkgrey: hsl(234, 12%, 34%);
    --lightgrey: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);

    --font-main: 'Poppins', sans-serif;

    --shadow-lg: inset
     0 4px 2px #ffffff70,
     0 8px 6px #00000015,
     0 10px 10px #00000008;
}

.container {
    max-width: 69.375rem;
    margin-inline: auto;
}

.card {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-lg);
    padding: 1.5rem;
}

.card-content {
    display: flex;
    flex-flow: column wrap;

    & h2 {
        color: var(--darkgrey);
        font-size: clamp(1.2rem, 1vw, 1.5rem);
        font-weight: 600;
        line-height: 150%;
    }
    & p {
        color: var(--lightgrey);
        font-size: clamp(0.875rem, 0.8vw, 1rem);
        line-height: 150%;
        font-weight: 400;
    }
}

.img-box {
    display: flex;
    justify-content: flex-end;
}



