* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --content-bg: hsl(0, 0%, 100%);
    --page-bg: hsl(30, 54%, 90%);
    --page-bg-alt: hsl(30, 18%, 87%);

    --text-base: hsl(30, 10%, 34%);
    --text-emphasis: hsl(24, 5%, 18%);

    --heading: hsl(14, 45%, 36%);
    --heading-rose: hsl(332, 51%, 32%);
    --rose-bg: hsl(330, 100%, 98%);

    --ff-base: 'Outfit', sans-serif;
    --ff-headings: 'Young-Serif', serif;

    --shadow-m: inset
    0 1px 2px hsl(330, 100%, 98%, 90%),
    0 2px 4px hsl(30, 10%, 34%, 40%),
    0 4px 6px hsl(30, 10%, 34%, 15%);

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--page-bg);
}

main {
    min-block-size: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--page-bg);
    margin-inline: auto;
    justify-content: center;
    max-width: 90rem;
    /* padding-block: 2.5rem; */

    font-family: var(--ff-base);
}

.recipe__container {
    display: grid;
    background-color: var(--content-bg);
    grid-template-columns: .5fr;
    border-radius: 1.5rem;
    width: 750px;
    
    flex: 0 1 auto;
    
    
    
    
    & .top-content {
        /* padding: 2.5rem; */
        grid-area: span 1 / span 2;

        & .recipe__img_box {
            object-fit: cover;
            overflow: hidden;
            /* border-radius: 0.75rem; */
            /* box-shadow: var(--shadow-m); */

            & img {
                display: block;
                max-width: 100%;
                /* border-radius: 0.75rem; */
                object-fit: cover;

                transition: transform 0.2s ease-in-out;
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        & .recipe__caption {
            padding: 2rem;

            & h1 {
                font-family: var(--ff-headings);
                font-size: clamp(2rem, 2vw, 3rem);
                font-weight: 700;
                color: var(--text-emphasis);
                filter: drop-shadow(1px 1px 1px #1111116c);
                
            }

            & p {
                margin-top: 1rem;
                color: var(--text-base);
                font-size: clamp(1rem, 1vw, 1.275rem);
                line-height: 150%;
            }
        }

        & .preparation__time_box {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: var(--rose-bg);
            padding: 1rem;
            border-radius: 0.5rem;

            & h2 {
                color: var(--heading-rose);
                font-weight: 600;
                padding-inline: 2rem;
            }

            & ul {
                display: flex;
                flex-flow: column wrap;
                gap: 1rem;
                padding-inline: 2rem;
                list-style-type: none;
                list-style-position: inside;

                & li {
                    color: var(--text-base);
                }


                & .alarm_box {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    & img {
                        filter: drop-shadow(1px 1px var(--text-emphasis));

                        animation: jumpOut 0.5s infinite ease-in-out;
                    }
                }
            }
        }
        
    }

    

}

@keyframes jumpOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (width >= 412px) {
    
    main {
        padding-block: 2.5rem;
    }

   

    .top-content {
        padding: 2.5rem;

        & .recipe__img_box {
            border-radius: 0.75rem;
            box-shadow: var(--shadow-m);
        }

        & .recipe__caption {

            & p {
                color: red;
            }
        }
    }

    li {
        text-align: center;
    }
    
}

