* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --content-bg: hsl(0, 0%, 100%);
    --page-bg: hsl(31, 53%, 90%);
    --page-bg-alt: hsl(30, 18%, 87%);
    --page-bg-alt-2: hsl(30, 18%, 94%);

    --text-base: hsl(30, 10%, 34%);
    --text-emphasis: hsl(24, 5%, 18%);

    --heading: hsl(14, 45%, 36%);
    --heading-rose: hsl(332, 51%, 32%);
    --rose-bg: hsl(330, 100%, 98%);

    --ff-base: 'Outfit', sans-serif;
    --ff-headings: 'Young-Serif', serif;

    --shadow-m: inset
    0 1px 2px hsl(330, 100%, 98%, 90%),
    0 2px 4px hsl(30, 10%, 34%, 40%),
    0 4px 6px hsl(30, 10%, 34%, 15%);

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--page-bg);
}

main {
    min-block-size: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--page-bg);
    margin-inline: auto;
    justify-content: center;
    max-width: 90rem;
    /* padding-block: 2.5rem; */

    font-family: var(--ff-base);
}

.recipe__container {
    display: grid;
    background-color: var(--content-bg);
    grid-template-columns: .5fr;
    border-radius: 1.5rem;
    width: 750px;
    
    flex: 0 1 auto;
    
    
    
    
    & .top-content {
        
        grid-area: span 1 / span 2;

        & .recipe__img_box {
            
            overflow: hidden;
            box-shadow: 0px 2px 6px #11111134;
            

            & img {
                display: block;
                max-width: 100%;
                
                object-fit: cover;
                

                transition: transform 0.2s ease-in-out;
                
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 1px 2px 1px #111111;
                }
            }
        }

        & .recipe__caption {
            padding: 2rem;

            & h1 {
                font-family: var(--ff-headings);
                font-size: clamp(2rem, 2vw, 3rem);
                font-weight: 700;
                color: var(--text-emphasis);
                text-shadow: 1px 1px 1px #1111115e;
                /* filter: drop-shadow(1px 1px 1px #1111116c); */
                background: radial-gradient(circle,rgba(228, 222, 216, 1) 0%, rgba(243, 230, 216, 1) 50%, rgba(255, 255, 255, 1) 100%);
                
            }

            & p {
                margin-top: 1rem;
                color: var(--text-base);
                font-size: clamp(1rem, 1vw, 1.275rem);
                line-height: 150%;
            }
        }

        & .preparation__time_box {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: var(--rose-bg);
            padding: 1rem;
            border-radius: 0.5rem;

            & h2 {
                color: var(--heading-rose);
                filter: drop-shadow(1px 1px 1px #11111125);
                font-weight: 600;
                padding-inline: 2rem;
            }

            & ul {
                display: flex;
                flex-flow: column wrap;
                gap: 1rem;
                padding-inline: 2rem;
                list-style-type: none;
                list-style-position: inside;

                & li {
                    color: var(--text-base);
                }


                & .alarm_box {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    & img {
                        filter: drop-shadow(1px 1px var(--text-emphasis));

                        animation: jumpOut 0.5s infinite ease-in-out;
                    }
                }
            }
        }
        
    }


}

.recipe__ingredients {
    padding: 2rem;
    grid-area: span 1 / span 2;
    


    & h2 {
        font-family: var(--ff-headings);
        color: var(--heading);
        font-weight: 700;
        font-size: clamp(2rem, 2vw, 3rem);
        
        filter: drop-shadow(1px 1px var(--text-emphasis));
    }

    & ul {
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;

        list-style-type: none;
        margin-top: 1rem;

        & .ingredients_box {
            display: flex;
            gap: 1rem;
            /* align-items: center; */

            & img {
                filter: drop-shadow(1px 1px #1111111f);
                width: 20px;
                height: 20px;
            }

            & li {
                color: var(--text-base);
                font-size: clamp(1rem, 1vw, 1.275rem);
            }
        }
    }

    .divisor__line {
        margin-top: 3rem;
        border: 1px solid hsl(30, 18%, 87%);
    }
}

.recipe__instructions {
    grid-area: span 1 / span 2;
    padding: 2rem;

    & h2 {
        font-family: var(--ff-headings);
        font-size: clamp(2rem, 2vw, 3rem);
        color: var(--heading);
        font-weight: 700;
        filter: drop-shadow(1px 1px var(--text-emphasis));
        margin-bottom: 1rem;
        margin-top: -1rem;
    }

    & ol {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    & .divisor__line {
        margin-top: 2rem;
        border: 1px solid hsl(30, 18%, 87%);
    }

    & .instructions_box {
        display: flex;
        align-items: center;
        padding-inline: 2rem;
        
        
        
        & li {
            color: var(--text-base);
            list-style-position: initial;
            padding-inline: 1rem;
            font-size: clamp(1rem, 1vw, 1.275rem);

           
        }
    
        & li::marker {
            color: var(--heading);
            font-weight: 700;
        }
    }

}

.recipe__nutrition {
    grid-area: span 1 / span 2;
    padding: 2rem;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(30, 18%, 87%));
    border-radius: 1.5rem;

    & table {
        /* display: flex; */
        border-collapse: collapse;
        
        & tr {

            & .table_header {
                font-family: var(--ff-headings);
                color: var(--heading);
                font-size: clamp(2rem, 2vw, 3rem);
                font-weight: 700;
                filter: drop-shadow(1px 1px var(--text-emphasis));
                padding-block-end: 1rem;
                
                height: 50px;
            }

            & .table_paragraph {
                color: var(--text-base);
                font-size: clamp(1rem, 1vw, 1.275rem);
                padding-block-end: 1rem;
            }
        }

        & .data_row {
            
            color: var(--text-base);
            font-size: clamp(1rem, 1vw, 1.275rem);
            

            & td {
                padding: 1rem;
                border-bottom: 1px solid lightgrey;
            }

            & .fat_row {
                border-bottom: none;
            }

            

            & td:last-child {
                color: var(--heading);
                font-weight: 700;
                text-shadow: 1px 1px #11111133;
                border-bottom: 1px solid lightgrey;
            }
        }

        & tr:last-child {

            & td:last-child {
                border-bottom: none;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: clamp(1rem, 1vw, 1.125rem);
    margin-top: 1rem;
    padding-inline: 2rem;

    & span a {
        text-decoration: none;
        color: var(--heading-rose);
        font-weight: 700;

        transition: all 0.4s ease;
        
        &:hover {
            text-decoration: underline;
            color: var(--heading);
        }
    }
}


@keyframes jumpOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (width >= 412px) and (width <  768px) {
    
    main {
        padding-block: 2.5rem;
        padding-block-end: initial;
    }

    .recipe__container {
        box-shadow: var(--shadow-m);
    }

    

    .top-content {
        padding: 2.5rem;
        border-radius: 1.5rem;

        & .recipe__img_box {
            border-radius: 0.75rem;
            box-shadow: var(--shadow-m);

            & img {
                box-shadow: none;
            }
        }

        & .recipe__caption {
            padding: 0;
            
        }
    }

    
    
}

@media (width >= 1440px) {
    main {
        padding-block: 4rem;
    }

    .recipe__container {
        border-radius: 1.5rem;
        box-shadow: var(--shadow-m);
    }

    .top-content {
        padding: 2rem;
    }

    .recipe__img_box {
        border-radius: 1.5rem 1.5rem 0 0;
        
        
        overflow: hidden;

        & img {
            object-fit: cover;
        }
    }
}

@media (width >= 768px) and (width <= 1439px) {
    main {
        padding-block: 4rem;
    }

    .recipe__container {
        box-shadow: var(--shadow-m);
        border-radius: 1.5rem;
    }

    .top-content {
        padding: 2rem;
    }

    .recipe__img_box {
        border-radius: 1.5rem 1.5rem 0 0;
    }
}

