* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --content-bg: hsl(0, 0%, 100%);
    --page-bg: hsl(30, 54%, 90%);
    --page-bg-alt: hsl(30, 18%, 87%);

    --text-base: hsl(30, 10%, 34%);
    --text-emphasis: hsl(24, 5%, 18%);

    --heading: hsl(14, 45%, 36%);
    --heading-rose: hsl(332, 51%, 32%);

    --shadow-m: inset
    0 1px 2px hsl(330, 100%, 98%, 90%),
    0 2px 4px hsl(30, 10%, 34%, 40%),
    0 4px 6px hsl(30, 10%, 34%, 15%);

}

html {
    scroll-behavior: smooth;
}

main {
    min-block-size: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--page-bg);
    margin-inline: auto;
    justify-content: center;
    max-width: 90rem;
}

.recipe__container {
    --min-col-size: 375px;
    display: grid;
    background-color: var(--content-bg);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size),100%, 1fr)));
    
    
    & .top-content {
        
    }
    

}