.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    

    margin-inline: auto;
    max-width: 46.875rem;
    /* flex: 0 1 auto; */
    border-radius: 1.5rem;
    box-shadow: var(--shadow-m);
    background-color: var(--white-base);

    > picture {
        overflow: hidden;
        border-radius: 1.5rem 0 0 1.5rem;
        & img {
            display: block;
            max-width: 23.438rem;
            width: 100%;
            object-fit: cover;
            border-radius: 1.5rem 0 0 1.5rem;

            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
                border-radius: 1.5rem 0 0 1.5rem;
            }

        }
    }
}

.product__content {
    padding: 2rem;
}

